<div class="table-responsive">
	<table class="table table-bordered synthese">
		<tbody>
			<tr class="phases">
				<td colspan="2" class="row_label2"></td>
        {{#if phaseIDuration}}
        <td class="INFERTILE text-center" colspan="{{phaseIDuration}}">
          <a role="button" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" title="Phase I" data-content="Période pré-ovulatoire, infertile">Phase I</a>
        </td>
        {{/if}}
        {{#if phaseIIDuration}}
        <td class="FERTILE text-center" colspan="{{phaseIIDuration}}">
          <a role="button" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" title="Phase II" data-content="Période ovulatoire, fertile">Phase II</a>
        </td>
        {{/if}}
        {{#if phaseIIIDuration}}
        <td class="INFERTILE text-center" colspan="{{phaseIIIDuration}}">
          <a role="button" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" title="Phase III" data-content="Période post-ovulatoire, infertile">Phase III</a>
        </td>
        {{/if}}
      </tr>
      <tr class="period text-center">
      	<td colspan="2" class="row_label2"><a role="button" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" title="Règles" data-content="Présence ou absence de règles au cours du cycle"><i class="icon ion-waterdrop"></i></a></td>
      	{{#each periods as |period|}}
      	<td class="{{period.cycle_day_number}}">
          {{period-presence present=period.present}}
        </td>
      	{{/each}}
      </tr>
      <tr class="mucus-sample text-center">
      	<td colspan="2" class="row_label2"><a role="button" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" title="Glaires cervicales" data-content="Sensation d'humidité au niveau de la vulve"><i class="icon ion-paintbucket"></i></a></td>
      	{{#each mucusSamples as |mucus|}}
      	<td class="{{mucus.cycle_day_number}}">
          {{mucus-sample-sensation sensation=mucus.sensation}}
        </td>
      	{{/each}}
      </tr>
      <tr class="cervix-feeling text-center">
      	<td rowspan="5" class="row_label">
          <a role="button" tabindex="0" data-trigger="focus" data-container="body" data-toggle="popover" title="Col" data-content="Observations au niveau du col de l'utérus"><i class="icon ion-disc"></i></a>
        </td>
      	<td class="row_label">
          <a role="button" tabindex="0" data-container="body" data-trigger="focus" data-toggle="popover" title="Glaires au col" data-content="Observation de glaires au niveau du col de l'utérus"><i class="icon ion-paintbucket"></i></a>
        </td>
      	{{#each mucusSamples as |mucus|}}
      	<td class="{{mucus.cycle_day_number}}">
          {{mucus-sample-at-cervix at_cervix=mucus.at_cervix}}
        </td>
      	{{/each}}
      </tr>
      <tr class="cervix-feeling text-center">
      	<td class="row_label">
          <a tole="button" tabindex="0" data-container="body" data-trigger="focus" data-toggle="popover" title="Sensation du col" data-content="Sensation au toucher du col (dur ou mou)">S</a>
        </td>
      	{{#each cervixFeelings as |cervixFeeling|}}
      	<td class="{{cervixFeeling.cycle_day_number}}">
          {{cervix-feeling-sensation sensation=cervixFeeling.sensation}}
        </td>
      	{{/each}}
      </tr>
      <tr class="cervix-feeling text-center">
      	<td class="row_label">
          <a tole="button" tabindex="0" data-container="body" data-trigger="focus" data-toggle="popover" title="Ouverture du col" data-content="Sensation d'ouverture au toucher du col">O</a>
        </td>
      	{{#each cervixFeelings as |cervixFeeling|}}
      	<td class="{{cervixFeeling.cycle_day_number}}">
         {{cervix-feeling-opening opening=cervixFeeling.opening}} 
        </td>
      	{{/each}}
      </tr>
      <tr class="cervix-feeling text-center">
      	<td class="row_label">
         <a tole="button" tabindex="0" data-container="body" data-trigger="focus" data-toggle="popover" title="Inclinaison du col" data-content="Sensation d'inclinaison au toucher du col">I</a> 
        </td>
      	{{#each cervixFeelings as |cervixFeeling|}}
      	<td class="{{cervixFeeling.cycle_day_number}}">
         {{cervix-feeling-inclining inclining=cervixFeeling.inclining}} 
        </td>
      	{{/each}}
      </tr>
      <tr class="cervix-feeling text-center">
      	<td class="row_label">
         <a tole="button" tabindex="0" data-container="body" data-trigger="focus" data-toggle="popover" title="Position du col" data-content="Position du col au toucher">P</a>  
        </td>
      	{{#each cervixFeelings as |cervixFeeling|}}
      	<td class="{{cervixFeeling.cycle_day_number}}">
          {{cervix-feeling-position position=cervixFeeling.position}} 
        </td>
      	{{/each}}
      </tr>
    </tbody>
  </table>
</div>