<div class="{{if isLoading "loading-overlay" ""}}"></div>
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div>
      <div class="navbar-header">
        {{#link-to 'synthese' selectedCycle.id classNames="navbar-brand"}}PFN{{/link-to}}
        {{!-- <p class="navbar-text hidden-xs hidden-sm">{{t "application.my_natural_family_planning"}}</p> --}}
      </div>
      {{nav-bar model=model selectedCycle=selectedCycle lastCycles=lastCycles isPopup=isPopup goBack=(action 'goBack') currentController=currentController}}
    </div>
  </nav>
</header>

<div class="container-fluid">
  {{outlet}}
  {{outlet "modal"}}
</div>