<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="text-center">Sensations au col</h2>
    {{#if model.cervixFeelings}}
      <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th>Jour du cycle</th>
          <th>S<span class="hidden-xs">ensation</span></th>
          <th>O<span class="hidden-xs">uverture</span></th>
          <th>P<span class="hidden-xs">osition</span></th>
          <th>I<span class="hidden-xs">nclinaison</span></th>
          <th class="hidden-xs">Commentaire</th>
          <th><span class="hidden-xs">Actions</span></th>
        </tr>
      </thead>
      <tbody>
      {{#each model.cervixFeelings as |cervixFeeling|}}
        {{#if cervixFeeling.isNew}}
        {{else}}
          {{#if cervixFeeling.is_cervix_peak_plus_3_days}}
            <tr data-toggle="tooltip" data-placement="bottom" title="Pic du col + 3 jours, début de la phase III" class="cervix-feeling text-center info">
              <td>{{cervixFeeling.cycle_day_number}} ({{date-format cervixFeeling.date "DD/MM/YY"}})</td>
              <td>{{cervix-feeling-sensation sensation=cervixFeeling.sensation}}</td>
              <td>{{cervix-feeling-opening opening=cervixFeeling.opening}}</td>
              <td>{{cervix-feeling-position position=cervixFeeling.position}}</td>
              <td>{{cervix-feeling-inclining inclining=cervixFeeling.inclining}}</td>
              <td class="hidden-xs">{{cervixFeeling.comment}}</td>
              <td>
                {{#link-to 'cervix-feeling' model.id cervixFeeling.id classNames="btn btn-default btn-sm"}}
                  <i class="icon ion-edit"></i>
                {{/link-to}}
                <button {{action 'remove' cervixFeeling}} type="button" class="btn btn-default btn-sm">
                  <i class="icon ion-android-close"></i>
                </button>
              </td>
            </tr>
          {{else}}
            {{#if cervixFeeling.is_first_day_of_cervix_change}}
              <tr data-toggle="tooltip" data-placement="bottom" title="Premier jour de changement du col, début de la phase II" class="cervix-feeling text-center info">
                <td>{{cervixFeeling.cycle_day_number}} ({{date-format cervixFeeling.date "DD/MM/YY"}})</td>
                <td>{{cervix-feeling-sensation sensation=cervixFeeling.sensation}}</td>
                <td>{{cervix-feeling-opening opening=cervixFeeling.opening}}</td>
                <td>{{cervix-feeling-position position=cervixFeeling.position}}</td>
                <td>{{cervix-feeling-inclining inclining=cervixFeeling.inclining}}</td>
                <td class="hidden-xs">{{cervixFeeling.comment}}</td>
                <td>
                  {{#link-to 'cervix-feeling' model.id cervixFeeling.id (query-params extended=true isPopup=true) classNames="btn btn-default btn-sm"}}
                    <i class="icon ion-edit"></i>
                  {{/link-to}}
                  <button {{action 'remove' cervixFeeling}} type="button" class="btn btn-default btn-sm">
                    <i class="icon ion-android-close"></i>
                  </button>
                </td>
              </tr>
            {{else}}
              <tr class="cervix-feeling text-center">
                <td>{{cervixFeeling.cycle_day_number}} ({{date-format cervixFeeling.date "DD/MM/YY"}})</td>
                <td>{{cervix-feeling-sensation sensation=cervixFeeling.sensation}}</td>
                <td>{{cervix-feeling-opening opening=cervixFeeling.opening}}</td>
                <td>{{cervix-feeling-position position=cervixFeeling.position}}</td>
                <td>{{cervix-feeling-inclining inclining=cervixFeeling.inclining}}</td>
                <td class="hidden-xs">{{cervixFeeling.comment}}</td>
                <td>
                  {{#link-to 'cervix-feeling' model.id cervixFeeling.id classNames="btn btn-default btn-sm"}}
                    <i class="icon ion-edit"></i>
                  {{/link-to}}
                  <button {{action 'remove' cervixFeeling}} type="button" class="btn btn-default btn-sm">
                    <i class="icon ion-android-close"></i>
                  </button>
                </td>
              </tr>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
    {{/if}}
    <div class="text-center">
      {{#link-to 'cervix-feeling' model.id 'new' (query-params extended=true isPopup=true) classNames="btn btn-default btn-sm"}}
        <i class="icon ion-plus-round"></i>&nbsp;Ajouter
      {{/link-to}}
    </div>
  </div>
</div>