<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="text-center">Cycles</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="hidden-xs">Numéro</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Durée</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each cycle in model.cycles}}
        <tr class="text-center">
          <td class="hidden-xs">{{cycle.id}}</td>
          <td>{{date-format cycle.start_date "DD/MM/YY"}}</td>
          <td>
          {{#if cycle.end_date}}
            {{date-format cycle.end_date "DD/MM/YY"}}
          {{/if}}
          </td>
          <td>{{cycle.cycle_length}}</td>
          <td>
            {{#link-to 'cycle' cycle.id classNames="btn btn-default btn-sm"}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{/link-to}}
            <button {{action "remove" cycle}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <div>
      {{#link-to 'cycle' 'new' classNames="btn btn-default btn-sm"}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Ajouter{{/link-to}}
    </div>
  </div>
</div>