<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h3 class="text-center">Cycles</h3>
    {{#if model.cycles}}
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th class="hidden-xs">Numéro</th>
          <th><span class="hidden-xs">Date de début</span><span class="visible-xs">Début</span></th>
          <th><span class="hidden-xs">Date de fin</span><span class="visible-xs">Fin</span></th>
          <th>Durée</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each model.cycles as |cycle|}}
        <tr class="text-center {{if (eq model.selectedCycle.id cycle.id) "success"}}">
          <td class="hidden-xs">{{cycle.id}}</td>
          <td>{{date-format cycle.start_date "DD/MM/YY"}}</td>
          <td>
          {{#if cycle.end_date}}
            {{date-format cycle.end_date "DD/MM/YY"}}
          {{/if}}
          </td>
          <td>{{cycle.cycle_length}}</td>
          <td>
            {{#link-to 'cycle' cycle.id classNames="btn btn-default btn-sm"}}<i class="icon ion-edit"></i>{{/link-to}}
            <button {{action "selectCycle" cycle}} class="btn btn-default btn-sm"><i class="icon ion-checkmark-round"></i></button>
            <button {{action "remove" cycle}} class="btn btn-default btn-sm"><i class="icon ion-android-close"></i></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{/if}}
    <div class="text-center">
      {{#link-to 'cycle' 'new' classNames="btn btn-default"}}<i class="icon ion-plus-round"></i>&nbsp;Ajouter{{/link-to}}
    </div>
  </div>
</div>