  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Relevé journalier: Jour {{model.cycle_length}}</h2>
    </div>
  </div>
  {{outlet "temperature"}}
  {{outlet "mucusSample"}}
  {{outlet "cervixFeeling"}}
  {{outlet "period"}}
    
