  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h2 class="text-center">Relevé journalier: Jour {{model.cycle_length}}</h2>
    </div>
  </div>
  {{outlet "temperature"}}
  {{outlet "mucusSample"}}
  {{outlet "cervixFeeling"}}
  {{outlet "period"}}
    
