<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">Glaires du cycle {{model.id}}</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Jour du cycle</th>
          <th>Date</th>
          <th>Sensation</th>
          <th>Apparence à la vulve</th>
          <th>Présence au col</th>
          <th>Commentaire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each mucus in model.mucusSamples}}
        <tr class="text-center">
          <td>{{mucus.cycle_day_number}}</td>
          <td>{{mucus.formatted_date}}</td>
          <td>{{mucus.sensation}} </td>
          <td>{{mucus.apparency_at_vulva}}</td>
          <td>{{mucus.at_cervix}}</td>
          <td>{{mucus.comment}}</td>
          <td><a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Ajouter</button> 
    </div>
  </div>
</div>