<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="text-center">Règles du cycle</h2>
    {{#if model.periods}}
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th>Jour du cycle</th>
          <th>Présence de règles</th>
          <th class="hidden-xs">Volume</th>
          <th class="hidden-xs">Commentaire</th>
          <th><span class="hidden-xs">Actions</span></th>
        </tr>
      </thead>
      <tbody>
      {{#each model.periods as |period|}}
        {{#if period.isNew}}
        {{else}}
        <tr class="text-center">
          <td>{{period.cycle_day_number}} ({{date-format period.date "DD/MM/YY"}})</td>
          <td>{{period-presence present=period.present}}</td>
          <td class="hidden-xs">{{period.volume}}</td>
          <td class="hidden-xs">{{period.comment}}</td>
          <td>
            {{#link-to 'period' model.id period.id (query-params extended=true isPopup=true) classNames="btn btn-default btn-sm"}}
              <i class="icon ion-edit"></i>
            {{/link-to}}
            <button {{action 'remove' period}} type="button" class="btn btn-default btn-sm">
              <i class="icon ion-android-close"></i>
            </button>
          </td>
        </tr>
        {{/if}}
      {{/each}}
      
      </tbody>
    </table>
    {{/if}}
    
    <div class="text-center">
      {{#link-to 'period' model.id 'new' (query-params extended=true isPopup=true) classNames="btn btn-default btn-sm"}}
        <i class="icon ion-plus-round"></i>&nbsp;Ajouter
      {{/link-to}}
    </div>
  </div>
</div>