<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h4 class="text-center">Règle</h4>
    <form class="form-horizontal" role="form" {{action 'ok' on='submit' target=view}}>
      <div class="form-group">
        {{#if extended}}
        <label for="inputCycleDayNumber" class="hidden-xs col-sm-3 control-label">Jour du cycle</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
          {{input type="text" class="form-control" id="inputCycleDayNumber" value=model.cycle_day_number readonly=true}}
        </div>
        <label for="inputDate" class="hidden-xs col-sm-3 control-label">Date</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
          {{bs-datetimepicker date=model.date minDate=model.cycle.start_date maxDate=model.cycle.endDate format='DD/MM/YYYY'}}
          {{!-- {{input type="text" id="inputDate" value=model.date}} --}}
        </div>
        {{/if}}
        <label for="inputPresent" class="hidden-xs col-sm-3 control-label">Présence</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
          <input type="text" class="form-control" readonly="true" placeholder="Présence" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">{{input type="checkbox" id="inputPresent" checked=model.present}}</span>
        </div>
        <label for="inputPeriodVolume" class="hidden-xs col-sm-3 control-label">Volume</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
          {{input type="text" placeholder="Volume" class="form-control" id="inputPeriodVolume" value=model.volume}}
        </div>
        <label for="inputPeriodComment" class="hidden-xs col-sm-3 control-label">Commentaire</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
          {{input type="text" placeholder="Commentaire" class="form-control" id="inputPeriodComment" value=model.comment}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-sm-offset-3">
          <button {{action "save" model}} class="btn btn-default">
            {{#if model.isSaving}}
              <img src="assets/images/loader.gif" alt="">
            {{else}}
              {{#if model.isDirty}}
                <span class="glyphicon glyphicon-floppy-save"></span>
              {{else}}
                <span class="glyphicon glyphicon-floppy-saved"></span>
              {{/if}}
            {{/if}}
            &nbsp;Enregistrer
          </button>
          {{#if extended}}
          <button {{action "cancel" model}} class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;Annuler
          </button>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
</div>