<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h2 class="text-center">Règle</h2>
    <form class="form-horizontal" role="form" {{action 'ok' on='submit' target=view}}>
      <div class="form-group">
        {{#if model.inline}}
        {{else}}
        <label for="inputCycleDayNumber" class="col-xs-4 col-sm-3 control-label">Jour du cycle</label>
        <div class="input-group col-xs-7 col-md-6">
          {{input type="text" class="form-control" id="inputCycleDayNumber" value=model.cycle_day_number readonly=true}}
        </div>
        <label for="inputDate" class="col-xs-4 col-sm-3 control-label">Date</label>
        <div class="input-group col-xs-7 col-md-6">
          {{bs-datetimepicker date=model.date format='DD/MM/YYYY'}}
          {{!-- {{input type="text" id="inputDate" value=model.date}} --}}
        </div>
        {{/if}}
        <label for="inputPresent" class="col-xs-4 col-sm-3 control-label">Présence</label>
        <div class="input-group col-xs-7 col-md-6">
          <div class="radio">
            <label>{{radio-button value=true checked=model.present}} Oui</label>
            <label>{{radio-button value=false checked=model.present}} Non</label>
          </div>
        </div>
        <label for="inputPeriodComment" class="col-xs-4 col-sm-3 control-label">Commentaire</label>
        <div class="input-group col-xs-7 col-md-6">
          {{input type="text" class="form-control" id="inputPeriodComment" value=model.comment}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-sm-offset-3">
          <button {{action "save" model}} class="btn btn-default">
            {{#if model.isSaving}}
              <img src="assets/images/loader.gif" alt="">
            {{else}}
              {{#if model.isDirty}}
                <span class="glyphicon glyphicon-floppy-save"></span>
              {{else}}
                <span class="glyphicon glyphicon-floppy-saved"></span>
              {{/if}}
            {{/if}}
            &nbsp;Enregistrer
          </button>
          {{#if model.inline}}
          {{else}}
          <button {{action "cancel" model}} class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;Annuler
          </button>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
</div>