<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="text-center">Règles du cycle</h2>
    {{#if model.periods}}
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th>Jour du cycle</th>
          <th>Présence de règles</th>
          <th class="hidden-xs">Volume</th>
          <th class="hidden-xs">Commentaire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each period in model.periods}}
        {{#if period.isNew}}
        {{else}}
        <tr class="text-center">
          <td>{{period.cycle_day_number}} ({{date-format period.date "DD/MM/YY"}})</td>
          <td>
          {{#if period.present}}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {{else}}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          {{/if}}
          </td>
          <td class="hidden-xs">{{period.volume}}</td>
          <td class="hidden-xs">{{period.comment}}</td>
          <td>
            {{#link-to 'period' model.id period.id classNames="btn btn-default btn-sm"}}
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            {{/link-to}}
            <button {{action 'remove' period}} type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        {{/if}}
      {{/each}}
      
      </tbody>
    </table>
    {{/if}}
    
    <div class="text-center">
      {{#link-to 'period' model.id 'new' classNames="btn btn-default btn-sm"}}
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Ajouter
      {{/link-to}}
    </div>
  </div>
</div>