<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <h3 class="text-center">Mon profil</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputSurname" class="col-sm-3 control-label">Surnom</label>
        <div class="input-group col-xs-12 col-sm-9">
          {{input type="text" class="form-control" value=model.surname id="inputSurname" placeholder="Surnom"}}
        </div>
      </div>
      <div class="form-group {{if errors.model.temperature_taking_hour.length "has-error" "has-success"}}">
        <label for="inputTemperatureTakingHour" class="col-sm-3 control-label">Heure de prise de température</label>
        <div class="input-group col-xs-12 col-sm-9">
          {{bs-datetimepicker date=model.temperature_taking_hour format='HH:mm' updateDate=(action (mut model.temperature_taking_hour)) readonly=true}}
        </div>
      </div>
      <div class="form-group {{if errors.model.temperature_taking_mode.length "has-error" "has-success"}}">
        <label for="inputTemperatureTakingMode" class="col-sm-3 control-label">Mode de prise de température</label>
        <div class="input-group col-xs-12 col-sm-9">
          <select class="form-control" onchange={{action "selectTemperatureTakingMode" value="target.value"}}>
            <option value="null">Mode</option>
            {{#each temperatureTakingModes as |temperatureTakingMode|}}
              <option value={{temperatureTakingMode.value}} selected={{eq model.temperature_taking_mode temperatureTakingMode.value}}>{{temperatureTakingMode.label}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      {{#if model.cycles}}
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Cycles</label>
        <div class="input-group col-xs-12 col-sm-9 col-sm-offset-3">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Nombre de cycles<span class="badge">{{model.cycles.length}}</span>
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Cycle le plus court <span class="badge">{{model.shortest_cycle}}</span>
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Cycle le plus long <span class="badge">{{model.longest_cycle}}</span>
            </li>
          </ul>
        </div>
      </div>
      {{/if}}
      
      <div class="form-group">
        <div class="text-center">
          <button {{action "save"}} class="btn btn-default" disabled="{{and model.isValid model.hasDirtyAttributes null "disabled"}}">
            {{#if model.isSaving}}
              <img src="assets/images/loader.gif" alt="">
            {{else}}
              {{#if model.hasDirtyAttributes}}
                <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Enregistrer
              {{else}}
                <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Enregistré
              {{/if}}
            {{/if}}
          </button>
        </div>
      </div>  
      <div class="form-group">
        <label for="inputImportFile" class="col-sm-3 control-label">Importer un profil</label>
        <div class="input-group col-xs-12 col-sm-9">
           {{!-- <input type="file" id="importFile" {{action "importProfile" on="change"}}> --}}
           {{!-- {{input id="importFile" type="file" value=fileName change="importProfile"}} --}}
           {{input-file fileName=fileName importFile=(action "importProfile")}} 
        </div>
      </div>
      <div class="form-group">
        <label for="inputImportFile" class="col-sm-3 control-label">Exporter le profil</label>
        <div class="input-group col-xs-12 col-sm-9">
           <button class="btn btn-default" {{action "exportProfile"}} disabled="{{and model.isValid (not model.hasDirtyAttributes) null "disabled"}}">
            <i class="icon ion-ios-download"></i>&nbsp;Exporter le profil
          </button>
        </div>
      </div>
    </form>
    <div>
      {{#if errors}}
        <ul class="list-group">
        {{#each errors.model.temperature_taking_hour as |error|}}
          <li class="list-group-item list-group-item-danger">Heure de prise de température : {{error}}</li>
        {{/each}}
        {{#each errors.model.temperature_taking_mode as |error|}}
          <li class="list-group-item list-group-item-danger">Mode de prise de température : {{error}}</li>
        {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>