<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">Températures du cycle {{model.id}}</h2>
    <div>
      {{cc-line-chart data=dataChart width=900 height=400 options=chartOptions reRender=reRender}}
      <table class="table">
        <tr class="text-center">
          <td><span class="glyphicon glyphicon-certificate temperature" aria-hidden="true"></span> Températures relevées</td>
          <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{date-format model.profile.temperature_taking_hour "HH:mm"}}</td>
        </tr>
        <tr class="text-center">
          <td><span class="glyphicon glyphicon-certificate temperatureCorrected" aria-hidden="true"></span> Températures corrigées</td>
          <td><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{model.profile.temperature_taking_mode}}</td>
        </tr>
        {{#if model.cacheTemperature}}
        <tr class="text-center">
          <td><span class="glyphicon glyphicon-certificate temperatureCache" aria-hidden="true"></span> Ligne de cache ({{model.cacheTemperature}} °)</td>
        </tr>
        {{/if}}
        
      </table>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Jour du cycle</th>
          <th class="hidden-xs">Heure</th>
          <th>Température relevée</th>
          <th>Température corrigée</th>
          <th class="hidden-xs">Commentaire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each temperature in model.temperatures}}
        {{#if temperature.isNew}}
        {{else}}
          {{#if temperature.is_third_day_hot_temperature}}
            <tr data-toggle="tooltip" data-placement="bottom" title="Troisième jour de température haute, début de la phase III" class="text-center info">
              <td>{{temperature.cycle_day_number}} ({{date-format temperature.date "DD/MM/YY"}})</td>
              <td class="hidden-xs">{{date-format temperature.date "HH:mm"}}</td>
              <td>{{temperature.temperature}} °</td>
              <td>{{temperature.temperature_corrected}} °</td>
              <td class="hidden-xs">{{temperature.comment}}</td>
              <td>
                {{#link-to 'temperature' model.id temperature.id classNames="btn btn-default btn-sm"}}
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                {{/link-to}}
                <button {{action 'remove' temperature}} type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          {{else}}
            <tr class="text-center">
              <td>{{temperature.cycle_day_number}} ({{date-format temperature.date "DD/MM/YY"}})</td>
              <td class="hidden-xs">{{date-format temperature.date "HH:mm"}}</td>
              <td>{{temperature.temperature}} °</td>
              <td>{{temperature.temperature_corrected}} °</td>
              <td class="hidden-xs">{{temperature.comment}}</td>
              <td>
                {{#link-to 'temperature' model.id temperature.id classNames="btn btn-default btn-sm"}}
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                {{/link-to}}
                <button {{action 'remove' temperature}} type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          {{/if}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
    <div>
      {{#link-to 'temperature' model.id 'new' classNames="btn btn-default btn-sm"}}
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Ajouter
      {{/link-to}}
      </div>
  </div>
</div>