<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h4 class="text-center">Température</h4>
    <form class="form-horizontal" role="form" {{action 'ok' on='submit' target=view}}>
      <div class="form-group">
        {{#if extended}}
        <label for="inputCycleDayNumber" class="hidden-xs col-sm-3 control-label">Jour du cycle</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
          {{input type="text" class="form-control" id="inputCycleDayNumber" value=model.cycle_day_number readonly=true}}
        </div>
        {{/if}}
        {{#if extended}}
        <div class="{{if errors.model.date.length "has-error" "has-success"}}">
          <label for="inputDate" class="hidden-xs col-sm-3 control-label">Date</label>
          <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
            {{bs-datetimepicker date=model.date minDate=model.cycle.start_date maxDate=model.cycle.endDate format='DD/MM/YYYY HH:mm' updateDate=(action (mut model.date))}}
          </div>
        </div>
        {{else}}
        <div class="{{if errors.model.date.length "has-error" "has-success"}}">
          <label for="inputDate" class="hidden-xs col-sm-3 control-label">Heure</label>
          <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
            {{bs-datetimepicker date=model.date format='HH:mm' updateDate=(action (mut model.date))}}
          </div>
        </div>
        {{/if}}
        <div class="{{if errors.model.temperature.length "has-error" "has-success"}}">
          <label for="inputTemperature" class="hidden-xs col-sm-3 control-label">T°</label>
          <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
            {{input type="text" placeholder="Température" class="form-control" id="inputTemperature" value=model.temperature}}
            {{#if errors.model.temperature.length}}
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            {{else}}
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            {{/if}}
          </div>
        </div>
        <div class="{{if errors.model.temperature.length "has-error" "has-success"}}">
          <label for="inputTemperatureCorrected" class="hidden-xs col-sm-3 control-label">T° corrigée</label>
          <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
            {{input type="text" placeholder="Température corrigée" class="form-control" id="inputTemperatureCorrected" value=model.temperature_corrected readonly="true"}}
            {{#if errors.model.temperature_corrected.length}}
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            {{else}}
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            {{/if}}
          </div>
        </div>
        <label for="inputTemperatureIgnore" class="hidden-xs col-sm-3 control-label">Ignorer</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6" {{action "toggleIgnoreTemp"}}>
          <input type="text" class="form-control" readonly="true" placeholder="Ignorer le relevé" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">
            {{check-box checked=model.ignore}}
          </span>
        </div>
        <label for="inputTemperatureComment" class="hidden-xs col-sm-3 control-label">Commentaires</label>
        <div class="input-group col-xs-10 col-xs-offset-1 col-md-6">
          {{input type="text" placeholder="Commentaire" class="form-control" id="inputTemperatureComment" value=model.comment}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 text-center">
          <button {{action "save"}} class="btn btn-default" disabled="{{and isValid model.hasDirtyAttributes null "disabled"}}">
            {{#if model.isSaving}}
              <img src="assets/images/loader.gif" alt="">
            {{else}}
              {{#if model.hasDirtyAttributes}}
                <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Enregistrer
              {{else}}
                <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Enregistré
              {{/if}}
            {{/if}}
            
          </button>
          {{#if extended}}
          <button {{action "cancel" model}} class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;Annuler
          </button>
          {{/if}}
        </div>
      </div>
    </form>
    <div>
      {{#if errors}}
        <ul class="list-group">
        {{#each errors.model.date as |error|}}
          <li class="list-group-item list-group-item-danger">Date : {{error}}</li>
        {{/each}}
        {{#each errors.model.temperature as |error|}}
          <li class="list-group-item list-group-item-danger">Température : {{error}}</li>
        {{/each}}
        {{#each errors.model.temperature_corrected as |error|}}
          <li class="list-group-item list-group-item-danger">Température corrigée : {{error}}</li>
        {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>